.DS_Store
*.log
*.tsbuildinfo
dist/
node_modules/
.emscripten_cache
build
wasm/*.js
wasm/*.wasm*
vendor

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
